 {{>admin-header}}
 
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Users list</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SL NO</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Verification</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                          
                            {{#each users}}
                            <tr>
                                <th scope="row">{{serialNumber}}</th>
                                <td>{{name}}</td>
                                <td>{{email}}</td>
                                <td>{{mobile}}</td>
                                {{#if is_verified}}
                                <td>Verified</td>
                                {{else}}
                                <td>Not verified</td>
                                {{/if}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->
{{>admin-footer}}
