{{>admin-header}}

<style>
    .align-middle {
        vertical-align: middle;
    }
</style>
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">

            <div class="bg-light rounded h-100 p-4">
                
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-4" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 1.2em; margin-bottom: 0;">Users List</h6>
                    <a href="/admin/blocked-users" class="btn btn-outline-danger m-2">Blocked Users</a>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SL NO</th>
                                <th scope="col">NAME</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">MOBILE</th>
                                <th scope="col">VERIFICATION</th>
                                <th scope="col">ACTION</th>
                                <th scope="col">ACTION</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each users}}
                            <tr id="{{_id}}">
                                <th class="align-middle" scope="row">{{serialNumber}}</th>
                                <td class="align-middle">{{name}}</td>
                                <td class="align-middle">{{email}}</td>
                                <td class="align-middle">{{mobile}}</td>
                                {{#if is_verified}}
                                <td class="align-middle">Verified</td>
                                {{else}}
                                <td class="align-middle">Not verified</td>
                                {{/if}}
                                <td class="align-middle">
                                    <a href="/admin/edit-user?id={{_id}}" class="btn btn-primary m-2">Edit</a>
                                </td>
                                
                                <td class="align-middle">
                                    <a href="/admin/block-user?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to block {{this.name}}?')">Block</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Table End -->
{{>admin-footer}}


