
{{>admin-header}}
<style>
    .align-middle {
        vertical-align: middle;
    }
</style>
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">

            <div class="bg-light rounded h-100 p-4">
                
               
                <div >
                    <h6 class="mb-4" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 1.2em;">Blocked users</h6>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SL NO</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Verification</th>
                                <th scope="col">Action</th>
                                
                            </tr>
                        </thead>

                        <tbody>
                            {{#each users}}
                            <tr id="{{_id}}">
                                <th class="align-middle" scope="row">{{serialNumber}}</th>
                                <td class="align-middle">{{name}}</td>
                                <td class="align-middle">{{email}}</td>
                                <td class="align-middle">{{mobile}}</td>
                                {{#if is_verified}}
                                <td class="align-middle">Verified</td>
                                {{else}}
                                <td class="align-middle">Not verified</td>
                                {{/if}}
                                
                                
                                <td class="align-middle">
                                   
                                      <a href="/admin/unblock-user?id={{this._id}}" class="btn btn-success" onclick="return confirm('Are you sure you want to block {{this.name}}?')">Unblock</a>
            
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{{>admin-footer}}

