{{>user-header}}
<style>
.title{
    margin-bottom: 5vh;
}
.card{
    margin: auto;
    max-width: 1450px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    background-color: #eff2ff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(0, 0, 0);
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.btn:hover{
    color: white;
}
a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, #717fe0 , #717fe0), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}
</style>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{{#if products}}
<section class="p-t-100 p-b-50 mt-5 mb-5" >

    <div class="card">
        <div class="row">
            <div class="col-md-9 cart">

                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-right text-muted">{{this.totalCount}} items</div>
                    </div>
                </div>    

                {{!-- ================================== CART ITEM ================================== --}}
                 {{#each products}}

                    <div class="row border-top border-bottom">

                        <div class="row main align-items-center">

                            <div class="col-2"><img class="img-fluid" style="height: 70px; width:80px " src="/productImages/{{this.image}}"></div>

                            <div class="col">

                                <div class="row text-muted"><i>{{this.description}}</i></div>

                                <div class="row"><b>{{this.name}}</b></div>
                                
                            </div>

                            <div class="col">

                                <button class="quantity-btn minus"  onclick="changeQuantity('{{this._id}}', -1, '{{this.user_id}}', {{this.quantity}})"> - </button>

                                <a id="quantityInput_{{this._id}}" class="border quantity">{{this.quantity}}</a> 

                                <button class="quantity-btn plus" onclick="changeQuantity('{{this._id}}', 1, '{{this.user_id}}', {{this.quantity}})">+</button>

                            </div>

                            <div class="col"> <b>Price:</b><br>₹{{this.price}}</div>
                            <div class="col" id="totalInput_{{this._id}}"> <b>Total:</b><br>{{this.total}}</div>
                            {{#if (gt this.productOffer 0)}}
                            <div class="col" > <b>Product Discount:</b><br><span style="color: rgb(37, 245, 19);"><b>{{this.productOffer}}%</b></span></div>
                            {{/if}}
                             {{#if (gt this.categoryOffer 0)}}
                            <div class="col"> <b>Category Discount:</b><br><span style="color: rgb(37, 245, 19);"><b>{{this.categoryOffer}}%</b></span></div>
                            {{/if}}
                            <div class="col" id="discountInput_{{this._id}}"> <b>Discounted Total:</b><br>₹ {{this.finalAmount}} </div>
                            <div class="col"><span class="close" onclick="showDeleteConfirmation('{{this._id}}','{{this.user_id}}','{{this.name}}')" >&#10005;</span></div>

                        </div>

                    </div>

                {{/each}}


                <div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">Back to shop</span></div>

            </div>


            <div class="col-md-3 summary" style="background-color: rgb(25, 25, 25);">

                <div style="color: white;"><h5><b>Cart Summary</b></h5></div>

                <hr>

                <div class="row">
                    <div class="col" style="padding-left:5; color: white">Cart Items: <b>{{this.totalCount}}</b></div>
                </div>

                <br>
            
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col" style="color: white;">Total Cart amount:</div>
                    <div class="col text-right" id="summary-subtotal" style="color: white;"> ₹ <span id="cart-total">{{this.TotalAmount}}</span></div>
                </div>

                <a class="btn btn-warning" style="color: white;" href="/checkout">CHECKOUT</a>


            </div>


        </div>
            
    </div>

</section>
{{else}}
<section class="cart-section">
  <section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-12">
                  <div class="p-5">
                    <div class="text-center mb-4 empty-cart-animation">
                      <h3>Your cart is empty</h3>
                      <p>Add some products to continue shopping</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{{/if}}

{{>user-footer}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Add this modal code at the end of your HTML body -->
<div class="modal" id="deleteConfirmationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Are you sure you want to delete <span id="productName"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
      </div>
    </div>
  </div>
</div>


<script>
  function changeQuantity(proId, count, userId, quantity) {
   

    $.ajax({
      url: "/change-product-quantity",
      method: "post",
      data: {
        productId: proId,
        count: count,
        userId: userId,
        quantity: quantity,
      },
    success: (response) => {
       if(response.deleteProduct){
          location.reload(); // Reload the page
       }else{
             console.log(response,'ajax response')
        const quantityInput = document.getElementById(`quantityInput_${proId}`);
        quantityInput.textContent = response.quantity;

        const summarySubtotal = document.getElementById(`summary-subtotal`);
        summarySubtotal.textContent = response.TotalAmount
        
       }
     
        
      }
       
    
    })
  }


   function showDeleteConfirmation(proId, userId,productName) {
    // Show confirmation modal
    $('#deleteConfirmationModal').modal('show');

     // Set the product name in the modal
  $('#productName').text(productName);

    // Store the product ID and user ID in data attributes of the confirmation button
    $('#confirmDeleteBtn').data('product-id', proId);
    $('#confirmDeleteBtn').data('user-id', userId);
  }

  function deleteproduct() {
    // Get the product ID and user ID from the data attributes of the confirmation button
    const proId = $('#confirmDeleteBtn').data('product-id');
    const userId = $('#confirmDeleteBtn').data('user-id');

    $.ajax({
      url: "/delete-product-from-cart",
      method: "post",
      data: {
        productId: proId,
        userId: userId,
      },
      success: (response) => {
        if (response.deleteProductFromCart) {
          // Reload the page
          location.reload();
        }
      }
    });
  }
 // Attach the deleteproduct function to the confirmation button click event
  $('#confirmDeleteBtn').click(deleteproduct);
 
</script>




















